<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles">
		</add>
		<add key="PFTPServer" value="54.174.152.95"/>
		<!--<add key ="markupprice" value ="11018" />-->
		<add key ="deposit" value ="11684,11685,11686" />
		<add key ="taxMixers" value ="11849" />
		<add key ="taxMixers11875" value ="11875" />
		<add key ="excludeOutOfStock" value ="11833;11888;10755" />
    <add key="specifiedUOM" value="10755"/>

    <!--added 999 static qty as per ticket #28377 for the store 11963-->
    <add key="staticQty999" value="11963"/>
		<!--<add key="BaseDirectory" value="C:\Users\ASI\Desktop\BottleCapps"/>-->
		<add key="LiquorAppsConnectionString" value="Data Source=DESKTOP-RGEBDSM;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=thirupathi;Password=th1rup@th1MaMr;MultipleActiveResultSets=True" />-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=liquor.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=liquorlivapp;Password=l1q40R7!v3a99S;MultipleActiveResultSets=True"/>-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=54.174.152.95;Initial Catalog=stagingliquorapps;User ID=stagingliquorapps;Password=stagingsu982!0;MultipleActiveResultSets=True" />-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
