<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="c:\Workspace\MobileUpdater\MAUFiles"></add>
		<add key="PFTPServer" value="54.174.152.95"/>
		<!--<add key ="markupprice" value ="11018" />-->
		<add key ="deposit" value ="11684,11685,11686;12294;12295" />
		<add key ="taxMixers" value ="11849" />
		<add key ="taxMixers11875" value ="11875" />
		<add key ="excludeOutOfStock" value ="11833;11888;10755" />
		<add key="specifiedUOM" value="10755"/>
		<add key="ModifierQTYPRICE" value="12039"/>
		<add key ="Exclude50ml" value ="12145" />
		<add key ="BeerDeposit" value ="12327;12335" />

		<!--added as per ticket #38180 for the store 12249-->
		<add key ="Markdown" value ="12249" />


		<!--added 999 static qty as per ticket #28377 for the store 11963-->
		<!--added 999 static qty as per ticket #38180 for the store 12249-->
		<add key="staticQty999" value="11963;12249;12124;12308;12141"/>
		<!--<add key="BaseDirectory" value="C:\Users\ASI\Desktop\BottleCapps"/>-->
		
		<!--<add key="liquorappsconnectionstring" value="data source= Nithin-laptop;initial catalog=liquorapps;integrated security = true;multipleactiveresultsets=true"/>-->
		
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>-->  
		
	<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>
	
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
